.cursor{
        cursor: pointer;
    }
    .list-group-item p {
        margin: 0 !important;
    }
    .loading, .result, .winner {
        position: fixed;
        z-index: 9999;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: white;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);*/
    }
    .q_num {
        position: absolute;
        right: 5px;
        width: 100%;
        top: 0px;
    }
    .fade-leave-active, .fade-enter-active {
      transition: 0.3s ease-out;
    }
    
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;

    }
    .f-13{
        font-size: 13px;
    }
    .selected{
        background: #38c172;
        color: white;
        font-weight: bold;
    }


    #qid {
      padding: 10px 16px;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 20px;
    }



    .element-animation0 {
        animation: animationFrames ease .6s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease .6s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease .6s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }
    .element-animation1 {
        animation: animationFrames ease .8s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease .8s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease .8s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }
    .element-animation2 {
        animation: animationFrames ease 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease 1s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }
    .element-animation3 {
        animation: animationFrames ease 1.2s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease 1.2s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease 1.2s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }
    .element-animation4 {
        animation: animationFrames ease 1.4s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease 1.4s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease 1.4s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }
    .element-animation5 {
        animation: animationFrames ease 1.6s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        -webkit-animation: animationFrames ease 1.6s;
        -webkit-animation-iteration-count: 1;
        -webkit-transform-origin: 50% 50%;
        -ms-animation: animationFrames ease 1.6s;
        -ms-animation-iteration-count: 1;
        -ms-transform-origin: 50% 50%
    }
    @keyframes animationFrames {
        0% {
            opacity: 0;
            transform: translate(-1500px,0px)
        }

        60% {
            opacity: 1;
            transform: translate(30px,0px)
        }

        80% {
            transform: translate(-10px,0px)
        }

        100% {
            opacity: 1;
            transform: translate(0px,0px)
        }
    }

    @-webkit-keyframes animationFrames {
        0% {
            opacity: 0;
            -webkit-transform: translate(-1500px,0px)
        }
        60% {
            opacity: 1;
            -webkit-transform: translate(30px,0px)
        }

        80% {
            -webkit-transform: translate(-10px,0px)
        }

        100% {
            opacity: 1;
            -webkit-transform: translate(0px,0px)
        }
    }

    @-ms-keyframes animationFrames {
        0% {
            opacity: 0;
            -ms-transform: translate(-1500px,0px)
        }

        60% {
            opacity: 1;
            -ms-transform: translate(30px,0px)
        }
        80% {
            -ms-transform: translate(-10px,0px)
        }

        100% {
            opacity: 1;
            -ms-transform: translate(0px,0px)
        }
    }

    .leaderboard {
      position: relative;
      background: -webkit-linear-gradient(top, #3a404d, #181c26);
      background: linear-gradient(to bottom, #3a404d, #181c26);
      border-radius: 10px;
      /*box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);*/
    }


    .leaderboard ul li {
      position: relative;
      z-index: 1;
      font-size: 14px;
      counter-increment: leaderboard;
      padding: 18px 10px 18px 50px;
      cursor: pointer;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1, 1);
              transform: translateZ(0) scale(1, 1);
    }
    .leaderboard ul li::before {
      content: counter(leaderboard);
      position: absolute;
      z-index: 2;
      top: 15px;
      left: 15px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      color: #c24448;
      background: #fff;
      border-radius: 20px;
      text-align: center;
    }
    .leaderboard ul li mark {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 18px 10px 18px 50px;
      margin: 0;
      background: none;
      color: #fff;
    }
    .leaderboard ul li mark::before, .leaderboard ul li mark::after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: -11px;
      left: -9px;
      border-top: 10px solid #c24448;
      border-left: 10px solid transparent;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      opacity: 0;
    }
    .leaderboard ul li mark::after {
      left: auto;
      right: -9px;
      border-left: none;
      border-right: 10px solid transparent;
    }
    .leaderboard ul li small {
      position: relative;
      z-index: 2;
      display: block;
      text-align: right;
    }
    .leaderboard ul li::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fa6855;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: 0;
    }
    .leaderboard ul li:nth-child(1) {
      background: #fa6855;
    }
    .leaderboard ul li:nth-child(1)::after {
      background: #fa6855;
    }
    .leaderboard ul li:nth-child(2) {
      background: #e0574f;
    }
    .leaderboard ul li:nth-child(2)::after {
      background: #e0574f;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
    }
    .leaderboard ul li:nth-child(2) mark::before, .leaderboard ul li:nth-child(2) mark::after {
      border-top: 6px solid #ba4741;
      bottom: -7px;
    }
    .leaderboard ul li:nth-child(3) {
      background: #d7514d;
    }
    .leaderboard ul li:nth-child(3)::after {
      background: #d7514d;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
    }
    .leaderboard ul li:nth-child(3) mark::before, .leaderboard ul li:nth-child(3) mark::after {
      border-top: 2px solid #b0433f;
      bottom: -3px;
    }
    .leaderboard ul li:nth-child(4) {
      background: #cd4b4b;
    }
    .leaderboard ul li:nth-child(4)::after {
      background: #cd4b4b;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    }
    .leaderboard ul li:nth-child(4) mark::before, .leaderboard ul li:nth-child(4) mark::after {
      top: -7px;
      bottom: auto;
      border-top: none;
      border-bottom: 6px solid #a63d3d;
    }
    .leaderboard ul li:nth-child(5) {
      background: #c24448;
      border-radius: 0 0 10px 10px;
    }
    .leaderboard ul li:nth-child(5)::after {
      background: #c24448;
      box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 0 0 10px 10px;
    }
    .leaderboard ul li:nth-child(5) mark::before, .leaderboard ul li:nth-child(5) mark::after {
      top: -9px;
      bottom: auto;
      border-top: none;
      border-bottom: 8px solid #993639;
    }
    .leaderboard ul li:hover {
      z-index: 2;
      overflow: visible;
    }
    .leaderboard ul li:hover::after {
      opacity: 1;
      -webkit-transform: scaleX(1.06) scaleY(1.03);
              transform: scaleX(1.06) scaleY(1.03);
    }
    .leaderboard ul li:hover mark::before, .leaderboard ul li:hover mark::after {
      opacity: 1;
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out;
    }

    .list-group-item-action:hover, .list-group-item-action:focus {
      background-color: #38c172 !important;
      color: white !important;
    }